.center{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}
.text{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}