.p1{
    background-image: url(./images.jpg);
    height: 130px;
    color: white;
    display: flex;
    align-items: end;
}
h1{
    padding: 10px;
    color: white;
}
.head3{
    color: white;
    padding: 10px;
}
.p2{
    background-image: url(./images.jpg);
    color: black;
    background-repeat: no-repeat;
}